<div class="jumbotron jumbotron-fluid header p-2">
    <h2>Login</h2>
    <div class="container pt-1 h-100">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
                <label for="username" class="mr-sm-2">Username</label>
                <input type="text" class="form-control mb-2 mr-sm-2" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && formData.username.errors }" />
                <div *ngIf="submitted && formData.username.errors" class="invalid-feedback">
                    <div *ngIf="formData.username.errors.required">Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="mr-sm-2">Password</label>
                <input type="password" class="form-control mb-2 mr-sm-2" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formData.password.errors }" />
                <div *ngIf="submitted && formData.password.errors" class="invalid-feedback">
                    <div *ngIf="formData.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="submitClick" class="btn btn-primary">Login</button>
            </div>
            <div *ngIf="error" class="alert alert-danger"></div>
        </form>
    </div>
</div>
